@font-face {
    font-family: 'Factor Bold';
    src: url('../fonts/FactorA-Bold.ttf');
}

@font-face {
    font-family: 'Factor Regular';
    src: url('../fonts/FactorALight-Regular.ttf');
}

::-webkit-scrollbar {
    width: 10px;
    transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-white);
}

:root {
    --color-white: #FFFFFF;
    --color-white-07: #FFFFFF70;
    --color-dark-blue: #002883;
    --color-blue: #407BFF;
    --color-black: #000000;
    --size-heading-big: 80px;
    --size-heading: 64px;
    --size-heading-small: 52px;
    --size-text-big: 36px;
    --size-text: 28px;
    --size-text-small: 24px;
}

.section {
    height: 500vh;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
    font-family: 'Factor Regular', sans-serif;
}


.section-wrapp {
    position: relative;
}

.container {
    max-width: 1680px;
    padding: 0 4%;
    margin: 0 auto;
}

header {
    padding: 20px 0;
}

body,
html {
    overflow-x: hidden;
    background: var(--color-dark-blue);
}

body.not_loaded,
html.not_loaded {
    overflow: hidden;
}

.header_nav_item a {
    display: flex;
    align-items: center;
    z-index: 10000;
    position: relative;
}

.header_nav_item a img:nth-child(2) {
    margin-left: 20px;
}

.header_circle {
    position: absolute;
    width: 885px;
    height: 885px;
    background: var(--color-white);
    border-radius: 50%;
    top: 0%;
    left: 0%;
    transform: translate(-20%, -100%);
}

.header_circle.moved {
    top: 0%;
    left: 0%;
    transform: translate(-20%, -80%);
}

.loader {
    background: #206DC7;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: none;
}

.loader.not_loaded {
    display: flex;
}

.hero {
    padding: 200px 0;
}

.hero_list {
    display: flex;
}

.hero_item:nth-child(1) {
    position: relative;
    z-index: 1000;
}

.hero_item {
    width: 50%;
}

.hero_heading {
    color: var(--color-white);
    font-family: 'Factor Bold';
    font-size: var(--size-heading-big);
}

.hero_text {
    font-size: var(--size-text-big);
    color: var(--color-white-07);
    margin: 40px 0;
}

.hero_btns {
    display: flex;
    justify-content: start;
}

.hero_btns a {
    display: flex;
    align-items: center;
    justify-self: center;
    color: var(--color-black);
    background: var(--color-white);
    padding: 20px 34px;
    border-radius: 20px;
    white-space: nowrap;
}

.hero_btns a:nth-child(1) {
    display: flex;
    align-items: flex-end;
    justify-self: center;
}

.hero_btns a:nth-child(1) img {
    position: relative;
    top: -3px;
}

.hero_btns a img {
    display: block;
    margin-right: 10px;
}

.hero_btns a:hover {
    transform: scale(0.9);
}

.hero_btns a:nth-child(2) {
    margin-left: 20px;
}

.hero_btns a span {
    font-size: var(--size-text-big);
    font-family: 'Factor Bold';
}

.hero_imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero_imgs img {
    position: absolute;
    z-index: 1000;
}

.hero_img_one {
    position: absolute;
    top: -250px;
    left: -140px;
}

.hero_img_one.changed {
    position: absolute;
    top: -200px;
    left: -140px;
}

.hero_img_two {
    position: absolute;
    top: 20px;
    right: -150px;
}

.hero_img_two.changed {
    position: absolute;
    top: -50px;
    right: -150px;
}

.hero_circle {
    position: absolute;
    width: 1176px;
    height: 1175px;
    right: -2000px;
    top: -100px;
    background: var(--color-blue);
    border-radius: 50%;
}

.hero_circle.moved {
    right: -200px;
}

.up {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: -120px;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.up.scrolled {
    right: 20px;
}

.up i {
    color: var(--color-blue);
    font-size: var(--size-text-big);
}

.up:hover i {
    color: var(--color-white);
}

.up:hover {
    background: var(--color-blue);
}